<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h2><center>Add Student Details</center></h2><br><br>
<center>
<form action='/insertView/' method="GET">
	<table border=1>
		<tr>
			<td>Student Name:</td><td><input type="text" name="s_name"></td>
		</tr>
		<tr>
			<td>Student Email:</td><td><input type="text" name="s_email"></td>
		</tr>
		<tr>
			<td>Student Number:</td><td><input type="text" name="s_number"></td>
		</tr>
		<tr>
			<center><td colspan="2"><input type="submit" value="Add data"></td></center>
		</tr>
	</table>
	<br><center><h2><a href='/display/'>Display Students</a></h2></center>
</form>
</center>
</body>
</html>